@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  padding-top: 120px;
}
img{
  width:100%;
}
.navbar a {
  color: #fff !important;
}
.navbar {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #4B77BE;
  color: #4B77BE;
  transition: all 0.3s;
}
.navbar.compressed {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #1F4788;
  color: #1F4788;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
