<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
<a href="#/patients"><span class="glyphicon glyphicon-backward"></span>Go Back</a>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Patient</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="updatePatient()" ng-init="getPatient()" name="editForm">
        <div class="form-group" >
          <label>FirstName</label>
          <input type="text" class="form-control" ng-model="patient.firstname" placeholder="FirstName" ng-required="true" name="firstname" >
          <div ng-show="editForm.firstname.$touched && editForm.firstname.$invalid">
            <small style="color: red;display: block;text-align: center;">Please Enter Firstname</small>
          </div>
        </div>
        <div class="form-group">
          <label>LastName</label>
          <input type="text" class="form-control" ng-model="patient.lastname" placeholder="LastName" ng-required="true" name="lastname">
          <div ng-show="editForm.lastname.$touched && editForm.lastname.$invalid">
            <small style="color: red;display: block;text-align: center;">Please Enter Lastname</small>
          </div>
        </div>
         <div class="form-group">
          <label>Gender</label>
          <select ng-model="patient.gender" class="form-control" ng-required="true" name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <div ng-show="editForm.gender.$touched && editForm.gender.$invalid">
            <small style="color: red;display: block;text-align: center;">Please Choose Gender</small>
          </div>
        </div>
        <div class="form-group">
          <label>Age</label>
          <input type="number" class="form-control" ng-model="patient.age" placeholder="Age" ng-required="true" name="age" min="1">
          <div ng-show="editForm.age.$touched && editForm.age.$invalid">
            <small style="color: red;display: block;text-align: center;">Please Enter Age/Age should not be Negative</small>
          </div>
        </div>
        <div class="form-group">
          <label>MobilleNo.</label>
          <input type="number" class="form-control" ng-model="patient.phone" placeholder="MobilleNo" ng-required="true" name="phone" min="10" max="10">
          <div ng-show="editForm.phone.$touched && editForm.phone.$invalid">
            <small style="color: red;display: block;text-align: center;">Please Enter 10 digit Number</small>
          </div>
        </div>
        <div class="form-group">
          <label>DOB</label>
          <input type="date" class="form-control" ng-model="patient.dob" placeholder="DOB" ng-required="true" name="dob">
          <div ng-show="editForm.dob.$touched && editForm.dob.$invalid">
            <small style="color: red;display: block;text-align: center;">Please Enter DOB</small>
          </div>
        </div>
        <div class="form-group">
          <label>Information</label>
          <textarea class="form-control" ng-model="patient.information" placeholder="Information" ng-required="true" name="information"></textarea>
          <div ng-show="editForm.information.$touched && editForm.information.$invalid">
            <small style="color: red;display: block;text-align: center;">Please Enter Information</small>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>
</div>
</div>